body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  background-image: linear-gradient(to right, #EA8D8D, #A890FE);
}

h1{
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  font-weight: 500;
}
.mainWrapper{
  margin: 25px;
}

.center {
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}

.header{
  background-image: url("header.png");
  width: 100%;
  height: 300px;
}

.white{
  color: white;
  margin: auto;
  width: 50%;
  border: none;
  padding-top: 130px;
  padding-left: 200px;
}

.wrapper{
  width: 450px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data input:focus  ~ label,
.input-data input:valid  ~ label{
  transform: translateY(-30px);
  font-size: 15px;
  color: #32be8f;
}
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper .input-data .underline{
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  background: #32be8f;
  transition: transform 0.3 ease;
}

.input-data input:focus  ~ .underline:before,
.input-data input:valid  ~ .underline:before{
  transform: scaleX(0);
  
}

.btn{
  display: block;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
}

.btn:hover{
  background-position: right;
}

/*css flip card*/  
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 15px;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;  
  backface-visibility: hidden;
  border-radius: 15px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 15px;
}

/* Style the back side */
.flip-card-back {
  background-color: whitesmoke;
  color: black;
  transform: rotateY(180deg);
  border-radius: 15px;
}

p{
  font-size: 40px;
  font-weight: 300;
}

#btnCreate{
  margin-top: 170px;
  margin-left: 350px;
}

#btnRead{
  margin-left: 350px;
}

#btnUpdate{
  margin-left: 350px;
}

#btnDelete{
  margin-left: 350px;
}

#info{
  padding: 20px;
}

.instruc{
  font-size: 20px;
  font-weight: 300;
}


